<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE phpunit>
<phpunit bootstrap="../autoload.php"  colors="true">
    <testsuite name="DI container">
        <directory>./</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="./../coverage" title="DI container"
            charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>

        <log type="coverage-clover" target="./../logs/clover.xml"/>
        <log type="junit" target="./../logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
